---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Pasante de desarrollo web",	
    company: "EPN",
    description:
      "Encargado de la toma de requisitos, diseño de base de datos, diseño de UI e implementación del sistema de gestión de atención para los servicios médicos de la DBP.",
  },
  {
    date: "Agosto 2022 - Julio 2023",
    title: "Desarrollador móvil Android",
    company: "Independiente",
    description:
      "Resolución de Bugs y mantenimiento a la aplicación móvil Android de American Eagle.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
