---
const personalImageAlt = "Pa칰l Rom치n";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
---

<div class="max-w-4xl justify-between flex-wrap flex items-center">
  <div class="md:max-w-[65%]">
    <h1
      class="text-4xl font-semibold text-gray-800 sm:text-5xl dark:text-white"
    >
      Hola, soy Pa칰l Rom치n
    </h1>

    <h5
      class="!text-2xl font-regular text-gray-800 sm:text-5xl dark:text-gray-300 my-3"
    >
      Fullstack web developer
    </h5>
    <Badge> Disponible para trabajar</Badge>
    <p
      class="mt-6 text-xl text-gray-800 [&>strong]:text-purple-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      Soy un apasionado de la programaci칩n y el aprendizaje continuo. Futuro
      ingeniero de software de la <strong>
        <a href="https://www.epn.edu.ec"> EPN</a></strong
      >. Soy de Quito, Ecuador 游쀯릖.<strong>
        Tengo +1 a침o de experiencia trabajando en desarrollo.</strong
      >
    </p>

    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:paulroman3d@gmail.com">
        <MailIcon class="size-4" />
        Cont치ctame
      </SocialPill>
      <SocialPill href="https://www.linkedin.com/in/pa%C3%BAl-rom%C3%A1n-995a411b7/">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
      <SocialPill href="https://github.com/paulr10463">
        <GitHubIcon class="size-4" />
        Github
      </SocialPill>
    </nav>
  </div>

  <div class="max-w-[30%] bg-gradient-to-b from-purple-300 dark:from-black dark:to-purple-500 rounded-full hidden md:block">
    <img
      class="rounded-full shadow-lg size-max"
      src="/paulr.png"
      alt={personalImageAlt}
    />
  </div>
</div>
